<!--1. create nav, head, and footer EJS -->
<!-- 2. grab the nav from the index page and paste below -->

<!-- 3 is in index.ejs -->

<nav>
    <div class="site-title">
        <a href="/">Blog Site</a>
        <p>Courtesy of Net Ninja</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>